{% extends 'base.html.twig' %}

{% block title %}Character Add{% endblock %}

{% block body %}
<h1>Ajout d'un personnage</h1>
    {{ form_start(form) }}
        {{ form_row(form.role) }}
        {{ form_row(form.actors) }}
        <div class="text-center">
        <button class="btn btn-primary">Envoyer</button>
    </div>
{{ form_end(form) }}
{% endblock %}