{% extends 'base.html.twig' %}

{% block title %}Genre Add{% endblock %}

{% block body %}
<h1>Ajout d'un genre</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <div class="text-center">
        <button class="btn btn-primary">Envoyer</button>
    </div>
{{ form_end(form) }}
{% endblock %}